{% block head %}

<title>Images Scraper</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content" style="align:center; width:500px; height:300px; border:1px solid black; padding:20px;">
    <h1 style="text-align: center">Review Scraper</h1>

    <div class="form">
        <form action="/review" method="POST">
            <label for="content">Enter youtube channel to be searched : </label>
            <input type="text" name="content" id="content"><br><br>
            
            <center><input type="submit" value="Search Videos"></center>
        </form>
    </div>
</div>
{% endblock %}